<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/galeria.css">
    <title>Flores para ti</title>
    
</head>
<body>
    <header>
        <div class="header-container">
            <img src="../img/icono.png" alt="Logo">

            <div class="menu">
                <a href="../views/nosotros.html">Nosotros</a>
                <a href="../views/galeria.html">Galeria</a>
                <a href="../views/contacto.html">Contacto</a>
            </div>
        </div>
    </header>
    
    <div class="grid_container">

        <div class="grid-item tall" style="background-image: url(../img/alex-quezada-TFTz5fKXOVU-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/sandro-gonzalez--YKlZ0w62Qk-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/demi-he-hPcxvCecdPI-unsplash.jpg);" ></div>
        <div class="grid-item" style="background-image: url(../img/joyous-chan-Y0z2uQfVwFo-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/alina-karpenko-WCkWGoHHNOM-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/larisa-birta-GhzYsSaqdjo-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/rock-earth-FwbliMkH8Ec-unsplash.jpg);"> </div>
        <div class="grid-item tall " style="background-image: url(../img/dong-cheng-krEjviclb4E-unsplash.jpg);"></div>
        <div class="grid-item" style="background-image: url(../img/nick-karvounis-8PnMHV05UHU-unsplash.jpg);"> </div>
        <div class="grid-item tall" style="background-image: url(../img/lysander-yuen-fBD9Wn0I2zY-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/kevin-lanceplaine-p5nSxnq1uxs-unsplash.jpg);"> </div>
        <div class="grid-item tall" style="background-image: url(../img/christie-kim-0IsBu45B3T8-unsplash.jpg);"></div>
        <div class="grid-item" style="background-image: url(../img/hamide-jafari-kiBn11S_RKU-unsplash.jpg);"> </div>
        <div class="grid-item large" style="background-image: url(../img/earl-wilcox-FsuGep77oRc-unsplash.jpg);"> </div>
        <div class="grid-item" style="background-image: url(../img/haydn-golden-LfT2t-E08kw-unsplash.jpg)" > </div>
    
      </div>
    
    
</body>
</html>