<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Flores para ti</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="../img/icono.png" alt="Logo">
            <div class="menu">
                <a href="./assets/views/nosotros.html">Nosotros</a>
                <a href="./assets/views/galeria.html">Galeria</a>
                <a href="./assets/views/contacto.html">Contacto</a>
            </div>
        </div>
    </header>
</body>
</html>